#taskWindow {
  height: 100%;
  font-size: 16px;
  padding: 0.5em;
  flex: 0 0 350px;
  background-color: #D9D9D9;
  color: black;
  
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}

#taskButtons {
  display: flex;
  padding: 1em 0;
  border-top: 1px solid #656565;
  justify-content: space-between;
}

#taskButtons button {
  background-color: #8C8C8C;
  box-shadow: 4px 2px 4px #0003;
  border: none;
  padding: 5px 2px;
  border-radius: 5px;
  flex: 1;
  margin: 0 1em;
}

#taskButtons button:hover {
  background-color: #707070;
}

#taskButtons button:disabled {
  background-color: #B0AFAF;
  box-shadow: none;
  color: grey;
}

#task {
  overflow-y: auto;
  padding-right: 5px;
}
